.row {
  margin: 20px;
  height: 200px;
  border-radius: 30px;
}
.col2 {
  margin: 0 20px 0 20px;
}

.color {
  border: 1px solid orange;
}

.header {
  border: 1px solid orangered;
}

#datos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tarjeta {
  width: 400px;
  margin: 20px;
  border: 1px solid gray;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  background-color: lightgray;
}

.tarjeta p {
  margin: 10px;
  font-family: cursive;
  font-size: 1.2rem;
}
