.row {
  margin: 20px;
  height: 200px;
  border-radius: 30px;
}
.col2 {
  margin: 0 20px 0 20px;
}

.color {
  border: 1px solid orange;
}

.header {
  border: 1px solid orangered;
}

#datos {
  width: 90%;
  padding: 80px 0;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.tarjeta {
  color: white;
  min-width: 80px;
  flex: 350px;
  margin: 20px;
  border: 1px solid gray;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  background-color: rgb(5, 13, 33);
}

.centrado {
  margin: 10px auto;
  display: block;
}

.tarjeta img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.tarjeta p {
  margin: 10px;
  font-family: cursive;
  font-size: 1.2rem;
}
